# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environment
# ======================
.env
venv/
.venv/

# ======================
# ML artifacts (DO NOT COMMIT)
# ======================
backend/ml/data/
backend/ml/models/
backend/ml/notebooks/

# ======================
# Node / Frontend
# ======================
node_modules/
dist/

# ======================
# OS junk
# ======================
.DS_Store
Thumbs.db