fastapi
uvicorn[standard]
sqlalchemy
pydantic
alembic
psycopg2-binary
python-dotenv
scikit-learn
joblib
pandas
numpy
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
email-validator
xgboost